@import url('./reset.css');



@media all and (max-width: 1024px) {
  button {
    width: 35%;
    font-size: 1.95vw;
    padding: 1.56vw;
    border-radius: 10vw;
  }

  p {
    line-height: 1.6;
  }

  .container {
    padding: 0 6.25vw;
  }

  #main {
    padding: 12.5vw 0;

    .main_img {
      margin-bottom: 3.125vw;

      img {
        width: 25vw;
      }
    }

    .title-group {
      h1 {
        font-size: 4.68vw;
        margin-bottom: 1.56vw;
      }

      h5 {
        font-size: 2.34vw;
      }
    }

    .info-text {
      .text-group {
        .item {
          margin-bottom: 0.78vw;
        }

        .radius-box {
          font-size: 1.95vw;
          padding: 0.78vw;
          width: 15.6vw;
        }

        p {
          font-size: 1.95vw;
        }
      }
    }
  }

  #agenda {
    padding: 12.5vw 0;

    .background-image {
      overflow-x: hidden;

      img.human-img {
        width: 31.25vw;
      }
    }

    .agenda-group {
      margin-bottom: 9.375vw;

      > span {
        font-size: 1.95vw;
        margin-top: 1.95vw;
      }

      .info-group {
        p {
          margin-bottom: 4.68vw;
          
          span {
            font-size: 1.95vw;
            margin-bottom: 1.95vw;

            &:last-child {
              margin-bottom: 0;
            }
          }
  
          br {
            display: block;
          }
        }
      }

      h1 {
        font-size: 3.125vw;
        margin-bottom: 4.68vw;

        p {
          font-size: 1.95vw;
          margin-top: 1.95vw;
        }
      }
    }

    .swiper {
      padding: 0 7.81vw;

      .swiper-slide {
        .item-group {
          .img-box {
            width: 18.75vw;
            height: 18.75vw;
            margin-bottom: 3.125vw;
          }

          p {
            font-size: 1.95vw;
          }
        }
      }
    }

    table {

      tbody th,
      tbody td {
        font-size: 1.95vw;
      }

      tbody th {
        vertical-align: top;
      }

      tbody td {
        vertical-align: top;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          .radius-box {
            width: 50%;
            padding: 0.78vw 4.68vw;
          }
        }

        br {
          display: none;
        }
      }
    }

    .event-group {
      margin-bottom: 6.25vw;

      .inner {
        width: 100%;

        span {
          padding: 0 3.125vw;
          margin-bottom: 2.34vw;
          font-size: 2.34vw;
        }

        .content {
          >p {
            font-size: 2.34vw;
            padding: 1.56vw 3.125vw;
          }

          .box {
            .text-group {
              margin: 3.125vw;

              p {
                font-size: 2.34vw;
                margin-bottom: 1.56vw;

                &:nth-child(1) {
                  font-size: 4.68vw;
                }
              }
            }
          }
        }
      }

      &:nth-child(1) {
        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 35vw;
              justify-content: start;
              background: url('../img/event_img_01.png') no-repeat right bottom/50vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 35vw;
              justify-content: start;
              background: url('../img/event_img_02.png') no-repeat right bottom/50vw,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #8631ff, #b17bff);
            }

            .box {
              height: 35vw;
              justify-content: start;
              background: url('../img/event_img_03_3.png') no-repeat right bottom/60vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        justify-content: start;
        text-align: left;

        .inner {
          >p {
            margin-top: 2.34vw;
            font-size: 1.95vw;
          }

          .content {
            >p {
              background: linear-gradient(180deg);
            }

            .box {
              height: 55vw;
              align-items: flex-start;
              justify-content: start;
              background:
                url('../img/event_img_04.png') no-repeat center bottom/contain,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }
    }

    .location-group {
      .inner {
        padding: 2.34vw;
      }

      p {
        margin-bottom: 2.34vw;
        font-size: 1.95vw;
      }
    }
  }

  footer {
    .container {
      padding: 4.68vw 6.25vw;
    }

    .logo {
      height: 3.125vw;
      margin-bottom: 1.95vw;
    }

    .text-group {

      p {
        margin-bottom: 1.95vw;
        font-size: 1.95vw;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  button {
    width: 50%;
    padding: 2.6vw;
    font-size: 3.125vw;
    border-radius: 10vw;
  }

  p {
    line-height: 1.4;
  }

  // ARROW DOWN
  .arrow-down {  
    .arrow-group {
      >span {
        font-size: 0.5rem;
      }
    }
  }

  .container {
    padding: 0 6.25vw;
  }

  #main {
    height: 100vh;
    padding: 12.5vw 0;

    .main_img {
      margin-bottom: 6.25vw;

      img {
        width: 35vw;
      }
    }

    .title-group {
      h1 {
        font-size: 7.5vw;
        margin-bottom: 2vw;
      }

      h5 {
        font-size: 4.16vw;
      }
    }

    .info-text {
      .text-group {
        .item {
          margin-bottom: 2vw;
        }

        .radius-box {
          font-size: 3.125vw;
          padding: 1.04vw 2vw;
          width: 22.5vw;
        }

        p {
          font-size: 3.125vw;
        }
      }
    }
  }

  #agenda {
    padding: 12.5vw 0;

    .background-image {
      overflow-x: hidden;

      img.human-img {
        width: 37.5vw;
      }
    }

    .agenda-group {
      margin-bottom: 13.3vw;

      > span {
        font-size: 2.6vw;
        margin-top: 3.125vw;
        text-align: left;
      }

      .info-group {
        p {
          margin-bottom: 8.3vw;
          text-align: left;

          span {
            font-size: 3.125vw;
            margin-bottom: 3.125vw;

            &:last-child {
              margin-bottom: 0;
            }
          }
          
          br {
            display: none;
          }
        }
      }

      h1 {
        font-size: 5vw;
        margin-bottom: 6.25vw;

        p {
          font-size: 3.125vw;
          margin-top: 3.125vw;
        }
      }
    }

    .swiper {
      padding: 0;

      .swiper-slide {
        .item-group {
          .img-box {
            width: 45vw;
            height: 45vw;
            margin-bottom: 5vw;
          }

          p {
            font-size: 3.125vw;
          }
        }
      }
    }

    table {

      tbody tr {
        border-top: 1px solid #eee;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }

      tbody th,
      tbody td {
        font-size: 3.125vw;
      }

      tbody th {
        vertical-align: top;
      }

      tbody td {
        vertical-align: top;
        padding-right: 1.56vw;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          .radius-box {
            width: 80%;
            padding: 1.56vw;
          }
        }

        br {
          display: none;
        }
      }
    }

    .event-group {
      margin-bottom: 6.25vw;

      .inner {
        width: 100%;

        span {
          padding: 0 3.125vw;
          margin-bottom: 2.6vw;
          font-size: 2vw;
        }

        .content {
          >p {
            font-size: 2.6vw;
            padding: 1.56vw 3.125vw;
          }

          .box {
            .text-group {
              margin: 3.125vw;

              p {
                font-size: 2.6vw;
                margin-bottom: 1.56vw;

                &:nth-child(1) {
                  font-size: 4.16vw;
                }
              }
            }
          }
        }
      }

      &:nth-child(1) {
        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_01.png') no-repeat right bottom/50vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_02.png') no-repeat right bottom/50vw,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #8631ff, #b17bff);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_03_3.png') no-repeat right bottom/60vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        justify-content: start;
        text-align: left;

        .inner {
          >p {
            margin-top: 3.125vw;
            font-size: 2.6vw;
          }

          .content {
            >p {
              background: linear-gradient(180deg);
            }

            .box {
              height: 65vw;
              align-items: flex-start;
              justify-content: start;
              background:
                url('../img/event_img_04.png') no-repeat center bottom/contain,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }
    }

    .location-group {
      .inner {
        padding: 2.6vw;
      }

      p {
        margin-top: 3.125vw;
        font-size: 2.6vw;
      }
    }
  }

  footer {
    .container {
      padding: 8.3vw 6.25vw;
    }

    .logo {
      width: 100%;
      height: 3.125vw;
      margin-bottom: 2vw;
    }

    .text-group {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      .text-item {
        margin-bottom: 2.6vw;
        
        &:last-child {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 2.6vw;
      }
    }
  }
}

@media all and (max-width: 320px) {
  button {
    width: 70%;
    padding: 2.5vw;
    font-size: 5vw;
    border-radius: 10vw;
  }

  p, span {
    line-height: 1.4;
  }
  
  .container {
    padding: 0 6.25vw;
  }  

  #main {
    height: 100vh;
    padding: 10vw 0;

    .main_img {
      margin-bottom: 10vw;

      img {
        width: 32vw;
      }
    }

    .title-group {
      h1 {
        font-size: 8.75vw;
      }

      h5 {
        font-size: 5vw;
      }
    }

    .info-text {      
      .text-group {
        .item {
          margin-bottom: 3.75vw;
        }

        .radius-box {
          font-size: 3.75vw;
          padding: 1.1vw 0;
        }

        p {
          font-size: 3.75vw;
        }
      }
    }
  }

  #agenda {
    padding: 15vw 0;

    .background-image {
      overflow-x: hidden;

      img.human-img {
        width: 37.5vw;
      }
    }

    .agenda-group {
      margin-bottom: 15vw;

      > span {
        font-size: 3.75vw;
        margin-top: 3.75vw;
        text-align: left;
      }

      .info-group {
        p {
          margin-bottom: 3.75vw;

          span {
            font-size: 5vw;
            text-align: left;

            &:last-child {
              margin-bottom: 0;
            }
          }
          

          br {
            display: none;
          }
        }

        button {
          margin-top: 10vw;
        }
      }

      h1 {
        font-size: 5vw;
        margin-bottom: 7.5vw;

        p {
          font-size: 3.75vw;
          margin-top: 3.75vw;
        }
      }
    }

    .swiper {
      padding: 0;

      .swiper-slide {
        .item-group {

          .img-box {
            width: 45vw;
            height: 45vw;
            margin-bottom: 5.5vw;
          }

          p {
            font-size: 3.75vw;
            
          }
        }
      }
    }

    table {
      tbody tr {
        border-top: 1px solid #eee;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }

      tbody th,
      tbody td {
        font-size: 3.75vw;
        line-height: 1.6;
      }

      tbody th {
        vertical-align: top;        
      }

      tbody td {
        vertical-align: top;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          .radius-box {
            width: 100%;
            padding: 2.5vw;
          }
        }

        br {
          display: none;
        }
      }
    }

    .event-group {
      margin-bottom: 7.5vw;

      .inner {
        width: 100%;

        .content {
          > p {
            font-size: 3.75vw;
            padding: 2.5vw 3.75vw;
          }

          .box {
            .text-group {
              margin: 3.75vw;

              p {
                font-size: 3.125vw;
                margin-bottom: 3.125vw;

                &:nth-child(1) {
                  font-size: 5vw;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }

      &:nth-child(1) {
        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_01.png') no-repeat right bottom/50vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #12beff, #00fff2);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_02.png') no-repeat right bottom/50vw,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        justify-content: start;
        text-align: left;

        .inner {
          .content {
            >p {
              background: linear-gradient(to right, #8631ff, #b17bff);
            }

            .box {
              height: 45vw;
              justify-content: start;
              background: url('../img/event_img_03_3.png') no-repeat right bottom/60vw,
                linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        justify-content: start;
        text-align: left;

        .inner {
          >p {
            margin-top: 3.75vw;
            font-size: 3.75vw;
          }

          .content {
            >p {
              background: linear-gradient(180deg);
            }

            .box {
              height: 60vw;
              align-items: flex-start;
              justify-content: start;
              background:
                url('../img/event_img_04.png') no-repeat center bottom/contain,
                linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
                linear-gradient(0deg, #00fff228 1%, #22222270 10%);

              .text-group {
                text-align: left;
              }
            }
          }
        }
      }
    }

    .location-group {
      .inner {
        padding: 2.5vw;
      }

      p {
        margin-top: 3.75vw;
        font-size: 3.75vw;
      }
    }
  }

  footer {
    .container {
      padding: 10vw 6.25vw;
    }

    .logo {
      width: 100%;
      height: 4.4vw;
      margin-bottom: 3.75vw;
    }

    .text-group {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;

      .text-item {
        margin-bottom: 3.75vw;
        
        &:last-child {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 3.75vw;
      }
    }
  }
}
