@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Noto Sans KR',  Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1px;
}

html, body {
  height: 100%;
  height: 100%;
  font-family: 'Noto Sans KR',  Arial, sans-serif !important;
  font-weight: normal;
}

body {
  position: relaative;
  background-color: black;
  color: white;
}

button {
  z-index: 999;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00fff2, #8631ff);
  padding: 1rem 5rem;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0 1rem #8731ff74;
  font-size: 1.5rem;
}

p {
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  line-height: 1.6;
}

strong {
  font-weight: bolder !important;
}

.arrow-down {  
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.arrow-down::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: #fff;
  content: '╲╱';
  font-size: 1.5rem;
  height: 3rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.primary-color {
  background: linear-gradient(to right, #12beff 15%, #00fff2 30% ,#99fff7 45%, #00fff2 60%, #b17bff 75%, #8631ff 90%);
  color: transparent;
  -webkit-background-clip: text;
}

.skyBlue-color {
  background: #12BEFF;
  color: transparent;
  -webkit-background-clip: text;
}

.mint-color {
  background: #00fff2;
  color: transparent;
  -webkit-background-clip: text;
}

.purple-color {
  background: #b17bff;
  color: transparent;
  -webkit-background-clip: text;
}

.white-color {
  background: #fff !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
}

.radius-box {
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border-image-slice: 1;
  margin-bottom: 1rem;
  width: 50%;
}

.wrap {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 7.5rem;
  // border: 1px solid #fff5;
}

//SPEAKERS 썸네일
//TRACK_A
.trackA-img-adi {
  background: url('../img/speakers-thumb/trackA-img-adi.png') no-repeat center center / cover;
}
.trackA-img-did {
  background: url('../img/speakers-thumb/trackA-img-did.png') no-repeat center center / cover;
}
.trackA-img-mois {
  background: url('../img/speakers-thumb/trackA-img-mois.png') no-repeat center center / cover;
}
.trackA-img-mma {
  background: url('../img/speakers-thumb/trackA-img-mma.png') no-repeat center center / cover;
}
.trackA-img-raonwh-1 {
  background: url('../img/speakers-thumb/trackA-img-raonwh-1.png') no-repeat center center / cover;
}
.trackA-img-raonwh-2 {
  background: url('../img/speakers-thumb/trackA-img-raonwh-2.png') no-repeat center center / cover;
}

//TRACK_B
.trackB-img-chungang {
  background: url('../img/speakers-thumb/trackB-img-chungang.png') no-repeat center center / cover;
}
.trackB-img-dt {
  background: url('../img/speakers-thumb/trackB-img-dt.png') no-repeat center center / cover;
}
.trackB-img-kisa {
  background: url('../img/speakers-thumb/trackB-img-kisa.png') no-repeat center center / cover;
}
.trackB-img-naver {
  background: url('../img/speakers-thumb/trackB-img-naver.png') no-repeat center center / cover;
}
.trackB-img-nh {
  background: url('../img/speakers-thumb/trackB-img-nh.png') no-repeat center center / cover;
}
.trackB-img-tos {
  background: url('../img/speakers-thumb/trackB-img-tos.png') no-repeat center center / cover;
}

.cont {
  // display: none;
  opacity: 0;
}

.on {
  display: block;
  opacity: 1;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.off {
  display: none;
  opacity: 0;
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -9999;
}

.matrix {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  >canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -9999;
  }
}

#main {
  position: relative;
  padding: 7.5rem 0;

  // > canvas {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: -9999;
  // }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main_img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
    }
  }

  .title-group {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
    }

    h5 {
      font-size: 2rem;
      font-weight: normal;
    }
  }

  .info-text {
    display: flex;
    justify-content: center;

    .text-group {
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.75rem;
      }
  
      .radius-box {
        font-size: 1.25rem;
        padding: 0.625rem 2rem;
        width: 160px;
        border: 1px solid #00fff2;
        margin-bottom: 0;
      }
      
      p {
        font-size: 1.25rem;
        margin-left: 1rem;
      }
    }
  }
}

#agenda {
  position: relative;
  padding: 7.5rem 0;
  background: linear-gradient(#8731ff40, #00000040, #8731ff40, #8731ff79, #7308C2);
  z-index: 1;

  .background-image {
    overflow-x: hidden;
    touch-action: none;
    position: absolute;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 100vh;
    z-index: -1;

    img.human-img {
      position: absolute;
      bottom: 0;
      right: -4rem;
      width: 240px;
    }

    img.num-img {
      width: 100%;
    }
  }

  .agenda-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    
    &:last-child {
      margin-bottom: 0;
    }

    > span {
      width: 100%;
      font-size: 1rem;
      opacity: 0.6;
    }

    .info-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        margin-bottom: 3rem;
        
        span {
          display: block;
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
          line-height: 1.4;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    h1 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-bottom: 2rem;
      text-align: center;

      p {
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: normal;
        color: #fff;
      }
    }

    .text-group {
      margin-bottom: 2rem;

      p {
        font-size: 1.5rem;
          margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    padding: 1rem 5rem;
    box-sizing: border-box;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      .item-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .img-box {
          width: 12rem;
          height: 12rem;
          background-color: #ddd;
          border-radius: 50%;
          margin-bottom: 1rem;
        }        

        p {
          text-align: center;
          font-size: 1rem;
          line-height: 1.6;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      
      &::after {
        color: #00fff2;
      }
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    tbody tr {
      border-top: 1px solid #eee;

      &:last-child {
        border-bottom: 0;
      }
    }

    tbody th,
    tbody td {
      padding: 1rem 0;
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: -20;
    }

    tbody th {
      vertical-align: middle;
      width: 20%;
    }

    tbody td {
      width: 50%;
      padding-right: 0.5rem;

      &:nth-of-type(1) {
        color: #00fff2;
  
        .radius-box {
          border: 1px solid #12BEFF;
        }
  
        p {
          color: #12BEFF;
  
          &:first-child {
            color: #12BEFF;
          }

          &:last-child{
            color: #fff;
          }
        }
      }

      &:nth-of-type(2) {
        color: #fff;

        .radius-box {
          border: 1px solid #b17bff;
        }
  
        p {
          color: #b17bff;

          &:first-child {
            color: #b17bff;
          }
  
          &:last-child {
            color: #fff;
          }
        }
      }
    }
  }
  
  .mint-color {
    .radius-box {
      border: 1px solid #00fff2;
    }
  }

  .purple-color {
    .radius-box {
      border: 1px solid #b17bff;
    }
  }

  .event-container {
    width: 100%;
  }

  .event-group {
    display: flex;
    margin-bottom: 4rem;

    .inner {
      width: 90%;

      .content {
        > p {
          font-size: 1rem;
          font-weight: 600;
          padding: 0.5rem 2rem;
        }

        .box {
          display: flex;
          align-items: center;
          width: 100%;

          .text-group {
            margin: 2rem;

            p {
              font-size: 1.25rem;
              margin-bottom: 1.25rem;
              line-height: 1.6;

              &:nth-child(1) {
                font-size: 2.5rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    &:nth-child(1) {
      justify-content: start;
      text-align: left;

      .inner {
        .content {
          > p {
            background: linear-gradient(to right, #12beff, #00fff2);
          }

          .box {
            height: 20rem;
            justify-content: start;
            background: 
              url('../img/event_img_01.png') no-repeat right bottom/contain,
              linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
              linear-gradient(0deg, #00fff228 1%, #22222270 10%);

            .text-group {
              text-align: left;
            }
          }
        }
      }
    }

    &:nth-child(2) {
      justify-content: end;
      text-align: right;

      .inner {
        .content {
          > p {
            background: linear-gradient(to left, #12beff, #00fff2);
          }

          .box {
            height: 20rem;
            justify-content: end;
            background:
              url('../img/event_img_02.png') no-repeat left bottom/contain,
              linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
              linear-gradient(0deg, #00fff228 1%, #22222270 10%);

            .text-group {
              text-align: right;
            }
          }
        }
      }
    }

    &:nth-child(3) {
      // margin-top: 4rem;
      justify-content: start;
      text-align: left;

      .inner {
        .content {
          > p {
            background: linear-gradient(to right, #8631ff, #b17bff);
          }

          .box {
            height: 20rem;
            justify-content: start;
            background:
              url('../img/event_img_03_3.png') no-repeat right bottom/contain,
              linear-gradient(90deg, #00fff228 0.5%, #22222270 5%),
              linear-gradient(0deg, #00fff228 1%, #22222270 10%);
    
            .text-group {
              text-align: left;
            }
          }
        }
      }
    }

    &:nth-child(4) {
      justify-content: end;
      text-align: right;

      .inner {
        > p {
          margin-top: 1rem;
          font-size: 1rem;
          opacity: 0.6;
          line-height: 1.4;
        }

        .content {
          > p {
            background: linear-gradient(to left, #8631ff, #b17bff);
          }

          .box {
            align-items: flex-start;
            height: 35rem;
            justify-content: end;
            background:
              url('../img/event_img_04.png') no-repeat center bottom/contain,
              linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%),
              linear-gradient(0deg, #00fff228 1%, #22222270 10%);
              
            .text-group {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .location-group {
    width: 100%;
    z-index: 999;

    .inner {
      width: 100%;
      background: #fff;

      img {
        width: 100%;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
      opacity: 0.6;
      line-height: 1.4;
    }
  }
}

footer {
  background: linear-gradient(#2b8ce1b5 2%, #7308C2 40%);

  .container {
    padding: 3rem 7rem;
  }
  
  .logo {
    width: 100%;
    height: 1.75rem;
    background: url('../img/logo.png') no-repeat left/contain;
    margin-bottom: 1rem;
  }

  .text-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
    p {
      color: #fff;
      font-size: 1rem;
      opacity: 0.6;
      line-height: 1.4;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}