@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 1.2;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "AppleSDGothicNeo", "Helvetica Neue", "Noto Sans KR", Arial,
    sans-serif;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #00fff2, #8631ff);
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
}

p {
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.primary-color {
  background: linear-gradient(90deg, #00fff2, #8631ff);
  color: transparent;
  -webkit-background-clip: text;
}

.mint-color {
  background: #00fff2;
  color: transparent;
  -webkit-background-clip: text;
}

.purple-color {
  background: #8631ff;
  color: transparent;
  -webkit-background-clip: text;
}

.white-color {
  background: #fff;
  color: transparent;
  -webkit-background-clip: text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 4rem 7rem;
  // border: 1px solid #fff5;
}

#main {
  .main_img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 500px;
    }
  }

  .deco-text {
    display: flex;
    justify-content: space-between;

    p {
      line-height: 1.2;

      &:last-child {
        font-size: 2rem;
        font-weight: 900;
      }
    }
  }

  .title-group {
    text-align: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 4rem;
      font-weight: 900;
    }

    h5 {
      font-size: 2rem;
      font-weight: normal;
    }
  }

  .text-group {
    text-align: center;

    p {
      color: #fff9;

      &:first-child {
        color: #fff;
      }
    }

    strong {
      font-weight: 600;
      color: #fff;
    }
  }
}

#agenda {
  height: 100%;
  background: linear-gradient(#8731ff40, #00000040, #8731ff40, #8731ff79);

  .agenda-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }

    > span {
      width: 100%;
      font-size: 0.75rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-bottom: 2rem;
      text-align: center;

      p {
        font-size: 1rem;
        font-weight: normal;
        color: #fff;
      }
    }

    .text-group {
      text-align: center;
      margin-bottom: 2rem;

      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .swiper {
      width: 100%;

      padding: 1rem 5rem;
      box-sizing: border-box;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        .item-group {
          text-align: center;

          .img-box {
            width: 12rem;
            height: 12rem;
            background-color: #ddd;
            border-radius: 50%;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    letter-spacing: -20;
    border-top: 0.5px solid #eee;
  }

  tbody th {
    width: 20%;
  }

  tbody td {
    width: 50%;
    padding-right: 0.5rem;
  }

  tr td:nth-of-type(1) {
    color: #00fff2;

    .track-box {
      border: 1px solid #00fff2;
    }

    p {
      color: #00fff2;

      &:last-child {
        color: #fff;
      }
    }
  }

  tr td:nth-of-type(2) {
    color: #b17bff;

    .track-box {
      border: 1px solid #b17bff;
    }

    p {
      color: #b17bff;

      &:last-child {
        color: #fff;
      }
    }
  }

  th,
  td {
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1.2;
  }

  .track-box {
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border-image-slice: 1;
    margin-bottom: 1rem;
    width: 50%;
  }

  .mint-color {
    .track-box {
      border: 1px solid #00fff2;
    }
  }

  .purple-color {
    .track-box {
      border: 1px solid #8631ff;
    }
  }

  .event-container {
    width: 100%;
  }

  .event-group {
    display: flex;
    margin-bottom: 2rem;

    .inner {
      width: 90%;

      span {
        display: block;
        padding: 0 2rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      .content {
        > p {
          font-size: 1rem;
          padding: 0.25rem 2rem;
        }

        .box {
          display: flex;
          align-items: center;
          width: 100%;

          .text-group {
            margin: 2rem 2rem;

            p {
              font-size: 1rem;

              &:nth-child(1) {
                font-size: 1.5rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    &:nth-child(1) {
      justify-content: start;
      text-align: left;

      .inner {
        .content {
          > p {
            background: linear-gradient(90deg, #12beff, #00fff2);
          }

          .box {
            height: 20rem;
            justify-content: start;
            background: linear-gradient(90deg, #00fff228, 2%, #22222220),
              linear-gradient(0deg, #00fff228, 4%, #22222200),
              url("/img/event_img_01.png") no-repeat right bottom/cover;

            .text-group {
              text-align: left;
            }
          }
        }
      }
    }

    &:nth-child(2) {
      justify-content: end;
      text-align: right;

      .inner {
        .content {
          > p {
            background: linear-gradient(-90deg, #12beff, #00fff2);
          }

          .box {
            height: 20rem;
            justify-content: end;
            background: linear-gradient(90deg, #00fff228, 2%, #22222220),
              linear-gradient(0deg, #00fff228, 4%, #22222200),
              url("/img/event_img_02.png") no-repeat left bottom/cover;

            .text-group {
              text-align: right;
            }
          }
        }
      }
    }

    &:nth-child(3) {
      // margin-top: 4rem;
      justify-content: start;
      text-align: left;

      .inner {
        .content {
          position: relative;

          > p {
            background: linear-gradient(90deg, #8631ff, #b17bff);
          }

          // .img-group {
          //   position: relative;
          //   position: absolute;
          //   right: 0;
          //   top: 0.75rem;
    
          //   img {
          //     position: absolute;
          //     right: 0;
          //     bottom: 0;
          //     bottom: 10px;
          //     width: 250px;
    
          //     &:nth-child(1) {
          //       z-index: -999;
          //     }
          //   }
          // }

          .box {
            height: 20rem;
            justify-content: start;
            background: linear-gradient(90deg, #00fff228, 2%, #22222220),
              linear-gradient(0deg, #00fff228, 4%, #22222200),
              url("/img/event_img_03_3.png") no-repeat right bottom/cover;
    
            .text-group {
              text-align: left;
            }
          }
        }
      }
    }

    &:nth-child(4) {
      justify-content: end;
      text-align: right;

      .inner {
        > p {
          margin-top: 1rem;
          font-size: 0.75rem;
          opacity: 0.6;
        }
        .content {
          > p {
            background: linear-gradient(-90deg, #12beff, #00fff2);
          }

          .box {
            align-items: flex-start;
            height: 35rem;
            justify-content: end;
            background: linear-gradient(90deg, #00fff228, 2%, #22222220),
              linear-gradient(0deg, #00fff228, 4%, #22222200),
              url("/img/event_img_04.png") no-repeat center bottom/cover;

            .text-group {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .location-group {

    .inner {
      width: 100%;
      background: #fff;
      padding: 2rem;

      img {
        width: 100%;
      }
    }

    p {
      margin-top: 2rem;
      font-size: 0.75rem;
    }
  }
}

footer {
  display: flex;
  background: linear-gradient(#12c0ff80, 10%, #8731ff79);

  .container {
    padding: 1.5rem 7rem;
  }
  
  .logo {
    width: 100%;
    height: 1rem;
    background: url("/img/logo.png") no-repeat left/contain;
    margin-bottom: 1rem;
  }

  .text-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      font-size: 1rem;
      
      span {
        opacity: 0.6;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
