@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "AppleSDGothicNeo", "Helvetica Neue", "Noto Sans KR", Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 1.2;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: black;
  color: white;
  font-family: "AppleSDGothicNeo", "Helvetica Neue", "Noto Sans KR", Arial, sans-serif !important;
}

canvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00fff2, #8631ff);
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0 1rem #8731ff74;
}

p {
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.primary-color {
  background: linear-gradient(to right, #12beff 15%, #00fff2 30%, #99fff7 45%, #00fff2 60%, #b17bff 75%, #8631ff 90%);
  color: transparent;
  -webkit-background-clip: text;
}

.mint-color {
  background: #00fff2;
  color: transparent;
  -webkit-background-clip: text;
}

.purple-color {
  background: #b17bff;
  color: transparent;
  -webkit-background-clip: text;
}

.white-color {
  background: #fff !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
}

.radius-box {
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border-image-slice: 1;
  margin-bottom: 1rem;
  width: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 4rem 7rem;
  z-index: 2;
}

.img-chungang {
  background: url("../img/speakers-thumb/img-chungang.png") no-repeat center center/cover;
}

.img-did {
  background: url("../img/speakers-thumb/img-did.png") no-repeat center center/cover;
}

.img-dt {
  background: url("../img/speakers-thumb/img-dt.png") no-repeat center center/cover;
}

.img-mma {
  background: url("../img/speakers-thumb/img-mma.png") no-repeat center center/cover;
}

.img-naver {
  background: url("../img/speakers-thumb/img-naver.png") no-repeat center center/cover;
}

.img-nh {
  background: url("../img/speakers-thumb/img-nh.png") no-repeat center center/cover;
}

.img-raonwh-1 {
  background: url("../img/speakers-thumb/img-raonwh-1.png") no-repeat center center/cover;
}

.img-raonwh-2 {
  background: url("../img/speakers-thumb/img-raonwh-2.png") no-repeat center center/cover;
}

#main .main_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main_img img {
  width: 300px;
}
#main .title-group {
  text-align: center;
  margin-bottom: 2rem;
}
#main .title-group h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
#main .title-group h5 {
  font-size: 2rem;
  font-weight: normal;
}
#main .info-text {
  display: flex;
  justify-content: center;
}
#main .info-text .text-group .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
#main .info-text .text-group .radius-box {
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  width: 160px;
  border: 1px solid #00fff2;
  margin-bottom: 0;
}
#main .info-text .text-group p {
  margin-left: 1rem;
}

#agenda {
  position: relative;
  padding-bottom: 5rem;
  background: linear-gradient(#8731ff40, #00000040, #8731ff40, #8731ff79, #7308C2);
  z-index: -999;
}
#agenda .background-image {
  touch-action: none;
  position: absolute;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100vh;
  z-index: -998;
}
#agenda .background-image img.human-img {
  position: absolute;
  bottom: 0;
  right: -4rem;
  width: 240px;
}
#agenda .background-image img.num-img {
  width: 100%;
}
#agenda .agenda-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
#agenda .agenda-group:last-child {
  margin-bottom: 0;
}
#agenda .agenda-group h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: center;
}
#agenda .agenda-group h1 p {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  color: #fff;
}
#agenda .agenda-group > span {
  width: 100%;
}
#agenda .agenda-group .info-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#agenda .agenda-group .info-group p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}
#agenda .agenda-group .info-group p:last-child {
  margin-bottom: 0;
}
#agenda .agenda-group .info-group button {
  margin-top: 2rem;
}
#agenda .agenda-group .text-group {
  margin-bottom: 2rem;
}
#agenda .agenda-group .text-group p {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}
#agenda .agenda-group .text-group p:last-child {
  margin-bottom: 0;
}
#agenda .swiper {
  width: 100%;
  padding: 1rem 5rem;
  box-sizing: border-box;
}
#agenda .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#agenda .swiper .swiper-slide .item-group {
  text-align: center;
}
#agenda .swiper .swiper-slide .item-group .img-box {
  width: 12rem;
  height: 12rem;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 1rem;
}
#agenda .swiper .swiper-slide .item-group p {
  font-size: 1rem;
}
#agenda table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
#agenda table tbody th,
#agenda table tbody td {
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -20;
  border-top: 1px solid #eee;
}
#agenda table tbody th {
  vertical-align: middle;
  width: 20%;
}
#agenda table tbody td {
  width: 50%;
  padding-right: 0.5rem;
}
#agenda table tbody td:nth-of-type(1) {
  color: #00fff2;
}
#agenda table tbody td:nth-of-type(1) .radius-box {
  border: 1px solid #00fff2;
}
#agenda table tbody td:nth-of-type(1) p {
  color: #00fff2;
}
#agenda table tbody td:nth-of-type(1) p:last-child {
  color: #fff;
}
#agenda table tbody td:nth-of-type(2) {
  color: #fff;
}
#agenda table tbody td:nth-of-type(2) .radius-box {
  border: 1px solid #b17bff;
}
#agenda table tbody td:nth-of-type(2) p {
  color: #b17bff;
}
#agenda table tbody td:nth-of-type(2) p:last-child {
  color: #fff;
}
#agenda .mint-color .radius-box {
  border: 1px solid #00fff2;
}
#agenda .purple-color .radius-box {
  border: 1px solid #b17bff;
}
#agenda .event-container {
  width: 100%;
}
#agenda .event-group {
  display: flex;
  margin-bottom: 2rem;
}
#agenda .event-group .inner {
  width: 90%;
}
#agenda .event-group .inner span {
  display: block;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
#agenda .event-group .inner .content > p {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}
#agenda .event-group .inner .content .box {
  display: flex;
  align-items: center;
  width: 100%;
}
#agenda .event-group .inner .content .box .text-group {
  margin: 2rem;
}
#agenda .event-group .inner .content .box .text-group p {
  font-size: 1rem;
}
#agenda .event-group .inner .content .box .text-group p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}
#agenda .event-group:nth-child(1) {
  justify-content: start;
  text-align: left;
}
#agenda .event-group:nth-child(1) .inner .content > p {
  background: linear-gradient(to right, #12beff, #00fff2);
}
#agenda .event-group:nth-child(1) .inner .content .box {
  height: 20rem;
  justify-content: start;
  background: url("../img/event_img_01.png") no-repeat right bottom/contain, linear-gradient(90deg, #00fff228 0.5%, #22222270 5%), linear-gradient(0deg, #00fff228 1%, #22222270 10%);
}
#agenda .event-group:nth-child(1) .inner .content .box .text-group {
  text-align: left;
}
#agenda .event-group:nth-child(2) {
  justify-content: end;
  text-align: right;
}
#agenda .event-group:nth-child(2) .inner .content > p {
  background: linear-gradient(to left, #12beff, #00fff2);
}
#agenda .event-group:nth-child(2) .inner .content .box {
  height: 20rem;
  justify-content: end;
  background: url("../img/event_img_02.png") no-repeat left bottom/contain, linear-gradient(-90deg, #00fff228 0.5%, #22222270 5%), linear-gradient(0deg, #00fff228 1%, #22222270 10%);
}
#agenda .event-group:nth-child(2) .inner .content .box .text-group {
  text-align: right;
}
#agenda .event-group:nth-child(3) {
  justify-content: start;
  text-align: left;
}
#agenda .event-group:nth-child(3) .inner .content > p {
  background: linear-gradient(to right, #8631ff, #b17bff);
}
#agenda .event-group:nth-child(3) .inner .content .box {
  height: 20rem;
  justify-content: start;
  background: url("../img/event_img_03_3.png") no-repeat right bottom/contain, linear-gradient(90deg, #00fff228 0.5%, #22222270 5%), linear-gradient(0deg, #00fff228 1%, #22222270 10%);
}
#agenda .event-group:nth-child(3) .inner .content .box .text-group {
  text-align: left;
}
#agenda .event-group:nth-child(4) {
  justify-content: end;
  text-align: right;
}
#agenda .event-group:nth-child(4) .inner > p {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.4;
  opacity: 0.6;
}
#agenda .event-group:nth-child(4) .inner .content > p {
  background: linear-gradient(to left, #8631ff, #b17bff);
}
#agenda .event-group:nth-child(4) .inner .content .box {
  align-items: flex-start;
  height: 30rem;
  justify-content: end;
  background: url("../img/event_img_04.png") no-repeat center bottom/contain, linear-gradient(-90deg, #00fff228 0.5%, #22222220 5%), linear-gradient(0deg, #00fff228 1%, #22222220 10%);
}
#agenda .event-group:nth-child(4) .inner .content .box .text-group {
  text-align: right;
}
#agenda .location-group {
  width: 100%;
  z-index: 999;
}
#agenda .location-group .inner {
  width: 100%;
  background: #fff;
}
#agenda .location-group .inner img {
  width: 100%;
}
#agenda .location-group p {
  margin-top: 2rem;
  font-size: 0.75rem;
  line-height: 1.4;
  opacity: 0.6;
}

footer {
  display: flex;
  background: linear-gradient(#2b8ce1b5 2%, #7308C2 40%);
}
footer .container {
  padding: 3rem 7rem;
}
footer .logo {
  width: 100%;
  height: 1rem;
  background: url("../img/logo.png") no-repeat left/contain;
  margin-bottom: 1rem;
}
footer .text-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .text-group p {
  font-size: 1rem;
  line-height: 1.4;
}
footer .text-group p span {
  opacity: 0.6;
}
footer .text-group p a {
  color: #fff;
  text-decoration: none;
}

@keyframes scroll {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
